basic:
  active: true
  nbins:  70
  exclude_vals: [null, 0]

corrmat:
  active: false

contours: 
  active: false

ROC:
  active: true
  num_bootstrap: 200
  xmin: 1.0E-6

## Binned ROC plots can be 1D or 2D
ROC_binned:
  active: false
  num_bootstrap: 200
  xmin: 1.0E-6
  
  plot[0]:
    var:   ['e1_reco_pt']
    edges: [7.0, 12.0, 1000]

  plot[1]:
    var:   ['e1_reco_pt', 'e1_reco_eta']
    edges: [[7.0, 12.0, 1000],
          [-2.0, 0.0, 2.0]]

## MVA output density (1D)
MVA_output:
  active: false
  edges: 80

## (MVA output x external variable) density (2D)
MVA_2D:
  active: false

  plot[0]:
    var:   ['.*'] # RegExp supported
    edges: [{'nbin': 50, 'q': [0.001, 0.999], 'space': 'linear'},
            {'nbin': 50, 'q': [0.0, 0.95],    'space': 'linear'}]
  
  #plot[1]:
  #  var:   ['.?hlt_pms2.?']
  #  edges: [{'nbin': 50, 'minmax': [0.0, 1.0], 'space': 'linear'},
  #          {'nbin': 50, 'q': [0.0, 0.95],     'space': 'log10'}]
